/* --- DOM */

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    font-size: 18px;
    color: #fff !important;
    font-family: Helvetica, sans-serif;
    font-family: 'Poiret One', cursive, 'ProximaNova', 'Lucida Sans', 'Lucida Grande', sans-serif;
    font-weight: 200;
    color: #fff;
    overflow: hidden;
}

* {
    font-family: 'Poiret One', cursive, 'ProximaNova', 'Lucida Sans', 'Lucida Grande', sans-serif;
}

a {
    text-shadow: #000 1px 1px 1px;
    -moz-text-shadow: #000 1px 1px 1px;
    -webkit-text-shadow: #000 1px 1px 1px;
}

ol, ul {
    list-style: none;
}

ol li, ul li {
    margin: 0;
    padding: 0;
}

/* --- HELPERS */

.center {
    clear: both;
    float: none;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

/* --- buttons */

.button-black {
    -moz-box-shadow:inset 0px 1px 0px 0px #9e9e9e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9e9e9e;
    box-shadow:inset 0px 1px 0px 0px #9e9e9e;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #1d1d1d) );
    background:-moz-linear-gradient( center top, #616161 5%, #1d1d1d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#1d1d1d');
    background-color:#616161;
    -webkit-border-top-left-radius:42px;
    -moz-border-radius-topleft:42px;
    border-top-left-radius:42px;
    -webkit-border-top-right-radius:42px;
    -moz-border-radius-topright:42px;
    border-top-right-radius:42px;
    -webkit-border-bottom-right-radius:42px;
    -moz-border-radius-bottomright:42px;
    border-bottom-right-radius:42px;
    -webkit-border-bottom-left-radius:42px;
    -moz-border-radius-bottomleft:42px;
    border-bottom-left-radius:42px;
    text-indent:0;
    border:1px solid #3d3d3d;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:50px;
    line-height:50px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #828282;
}

.button-black:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1d1d1d), color-stop(1, #616161) );
    background:-moz-linear-gradient( center top, #1d1d1d 5%, #616161 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d1d1d', endColorstr='#616161');
    background-color:#1d1d1d;
}

.button-black:active {
    position:relative;
    top:1px;
}

/* --- IDS/CLASSES */

.playingMin .minutta {
    display: block;
}

.playingMax .minutta {
    display: none;
}

.minutta {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.expandingArea textarea,
.expandingArea pre {
    /* Reset styles for the textarea and mirror element. */
    margin:0;
    padding:0;
    outline:0;
    border:0;
}

.expandingArea {
    /* Since we're resetting our textarea's normal styles,
     * we need to style our container element to look like
     * a textarea.
     */
    position:relative;
    border:1px solid #888;
    background:#fff;
}

.expandingArea > textarea,
.expandingArea > pre {
    /* Don't collapse white-space within the mirror
     * element so it matches a textarea's behavior.
     */
    white-space:pre-wrap;

    /* Prevent long lines from making the elements
     * expand too far.
     */
    word-wrap:break-word;

    /* The mirror element must have the same styles as
     * the textarea in order for their sizes to match.
     */
    padding:5px;
    background:transparent;
    font-weight:normal;
    font-size:16px;
    line-height:24px;
    font-family:helvetica, arial, sans-serif;
}

.expandingArea > textarea {
    /* The border-box box model is used to allow
     * padding whilst still keeping the overall width
     * at exactly that of the containing element.
     */
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;

    /* This is the default height for the textarea
     * that is used when JavaScript is disabled. */
    height:100px;
}
.expandingArea.expandsElegantly > textarea {
    /* Hide any scrollbars */
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    /* Remove WebKit user-resize widget */
    resize:none;
}

.expandingArea > pre {
    display:none;
}
.expandingArea.expandsElegantly > pre {
    display:block;
    /* Hide the text; just using it for sizing */
    visibility:hidden;
}

.ear-small {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

.ear-icon-comments-small {
    background-position: 0 0;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10.5px;
    margin-top: -10.5px;
}
.ear-icon-small {
    background-image: url(../images/ears_small.png);
    background-repeat: no-repeat;
}

.m-button {
    position: relative;
}

.button {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    letter-spacing: 1px;
    display: block;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    -moz-text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 0 rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.4);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.4);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.4);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.button-turquoise {
    background: #37bfcd;
    color: #fff;
}

.m-button-action {
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    height: 34px;
    line-height: 36px;
    color: #fff;
    letter-spacing: 1px;
    display: block;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    -moz-text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 0 rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.4);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.4);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.4);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0 15px;
    margin: 0 2px;
    display: inline-block;
}

.button:not(.disabled):active, .m-button:not(.disabled):active {
    top: 1px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

.m-button-action .m-button-icon {
    position: relative;
    float: left;
    top: 6px;
    background-image: url(../images/actions.png);
    background-repeat: no-repeat;
}

.m-button-action span {
    padding-left: 10px; 
}

.screen_min .m-video {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 570px;
    height: 320px;
    margin: -165px 0 0 -290px;
    overflow: hidden;
    border: 5px solid #fff;
}

.screen_normal .m-video {
    position: absolute;
    width: 854px;
    height: 480px;
    left: 50%;
    top: 50%;
    margin: -245px 0 0 -432px;
    border: 5px solid #fff;
    overflow: hidden;
}

.screen_max .m-video {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* VIDEO */

.m-bg-blur-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.m-bg-blur {
    position: absolute;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    filter: blur(7px); 
    -webkit-filter: blur(7px); 
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: url(effect/blur.svg#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}

.m-bg-mask {
    background: #000;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.m-bg-normal-container {
    overflow: hidden;
}

.screen_min .m-bg-normal-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 570px;
    height: 320px;
    margin: -165px 0 0 -290px;
    overflow: hidden;
    border: 5px solid #fff;
}

.screen_normal .m-bg-normal-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 854px;
    height: 480px;
    margin: -245px 0 0 -432px;
    overflow: hidden;
    border: 5px solid #fff;
}

.screen_max .m-bg-normal-container {
    border: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.m-bg-normal {
    /*
    filter: blur(2px); 
    -webkit-filter: blur(2px); 
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: url(effect/blur.svg#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); 
    */
    position: absolute;
    width: 100%;
}

.screen_min .m-video-play {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 570px;
    height: 320px;
    margin: -165px 0 0 -290px;
    background: url(../images/play_white.png) center no-repeat;
    cursor: pointer;
}

.screen_min .m-video-play {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 570px;
    height: 320px;
    margin: -165px 0 0 -290px;
    background: url(../images/play_white.png) center no-repeat;
    cursor: pointer;
}

.screen_normal .m-video-play {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 854px;
    height: 480px;
    margin: -245px 0 0 -432px;
    background: url(../images/play_white2.png) center no-repeat;
    cursor: pointer;
}

.screen_max .m-video-play {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../images/play_white2.png) center no-repeat;
    cursor: pointer;
}

.screen_min .m-video-stop {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 570px;
    height: 320px;
    margin: -165px 0 0 -290px;
    background: url(../images/stop_white.png) center no-repeat;
    cursor: pointer;
}

.screen_normal .m-video-stop {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 854px;
    height: 480px;
    margin: -245px 0 0 -432px;
    background: url(../images/stop_white.png) center no-repeat;
    cursor: pointer;
}

.screen_max .m-video-stop {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /*
    background: url(../images/stop_white.png) center no-repeat;
    */
    cursor: pointer;
    display: none;
}

.m-video-fullscreen {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 10px;
    top: 10px;
    background: url(../images/fullscreen.png) center no-repeat;
    cursor: pointer;
}

.loading .m-video-loading {
    display: block;
}

.m-video-loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/loader.gif) center no-repeat;
}

.loading .m-video-play {
    display: none;
}

.m-video-play {
    display: block;
}

.loading .m-video-stop {
    display: none;
}

.m-video-stop {
    display: none;
}

.m-header {
    position: absolute;
    width: 100%;
    height: 62px;
    line-height: 62px;
    background: url(../images/itempage_h_bg.png) repeat-x top;
    font-weight: lighter;
}

.m-header .m-welcome {
    position: relative;
    margin-left: 15px;
    float: left;
}

.m-header .m-login {
    position: absolute;
    right: 15px;
    height: 25px;
    line-height: 25px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border: solid 1px #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0 15px;
    float: right;
    letter-spacing: 1px;
    margin-top: 18px;
    text-shadow: #000 1px 1px 1px;
    -moz-text-shadow: #000 1px 1px 1px;
    -webkit-text-shadow: #000 1px 1px 1px;
    cursor: pointer;
}

.m-footer {
    position: absolute;
    width: 100%;
    height: 62px;
    line-height: 62px;
    font-weight: lighter;  
    bottom: 20px;
}

.m-footer  .m-button-action {
    margin-top: 15px;
}

.m-footer .m-button-action.m-share .m-button-icon {
    background-position: 0 -18px;
    width: 19px;
    height: 17px;    
}

.m-footer .m-button-action.m-info .m-button-icon {
    background-position: 0 -35px;
    width: 20px;
    height: 20px;
    top: 4px;
}

.m-footer .m-button-action.m-report .m-button-icon {
    background-position: 0 -55px;
    width: 19px;
    height: 17px;
}

.m-footer .m-button-action.m-download .m-button-icon {
    width: 17px;
    height: 17px;
}

.m-footer .m-button-action.m-like-button {
    background-color: #FF4F56;
}

.m-footer .m-button-action.m-comment-button {
    background-color: #3BC3D0;
}

.m-footer .m-button-action.m-like-button .m-button-icon {
    background-image: url(../images/ears_min.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 21px;
    top: 6px;
}

.m-footer .m-button-action.m-comment-button .m-button-icon {
    background-image: url(../images/ears_min.png);
    background-repeat: no-repeat;
    background-position: 0 -42px;
    width: 24px;
    height: 26px;
    top: 4px;
} 

.m-footer .m-button-action.m-like-button span,
.m-footer .m-button-action.m-comment-button span {
    padding: 0;
    float: left;
    margin-left: 15px;
}

.m-circle {
    position: fixed;
    height: 150px;
    width: 150px;
    border-radius: 75px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    top: 50%;
    margin-top: -75px;
    behavior: url(behavior/PIE.htc);
}

.m-likes {
    background-color: #FF4F56;
    left: -75px;
    display: none;
    cursor: pointer;
}

.m-comments {
    background-color: #3BC3D0;
    right: -75px;
    display: none;
    cursor: pointer;
}

.m-circle-icon {
    background-image: url(../images/ears.png);
    background-repeat: no-repeat;   
}

.m-likes-icon {
    position: absolute;
    left: 90px;
    top: 40px;
    background-position: 0 0;
    width: 33px;
    height: 28px;
}

.m-comments-icon {
    position: absolute;
    left: 29px;
    top: 40px;
    background-position: 0 -56px;
    width: 29px;
    height: 34px;
}

.m-circle-counter {
    font-size: 25px;
    color: #fff;
    overflow: hidden;
    width: 220px;
    text-align: left;
    margin-left: 20px; 
}

#m-likes-counter {
    position: absolute;
    left: 75px;
    top: 80px;
}

#m-comments-counter {
    position: absolute;
    left: 10px;
    top: 80px;
}

/* *** */

#graphics1 {
    position: fixed;
}

#graphics2 {
    position: fixed;
}

#m-text-slide1 {
    position: absolute;
    display: none;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

#m-text-slide1 div {
    /*
    background: #000; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    */
}

#m-text-slide1 span {
    padding: 20px 30px;
    display: inline-block;
    font-size: 50px;
    color: #fff;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.screen_max #m-text-slide1 {
    display: block;
}

#m-text-slide2 {
    position: absolute;
    display: none;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center; 
    display: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

#m-text-slide2 div {
    /*
    background: #000; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    */
}

#m-text-slide2 span {
    padding: 20px 30px;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.screen_normal #m-text-slide2, 
.screen_min #m-text-slide2 {
    display: block;
}

.m-likes-container {
    position: absolute;
    top: 62px;
    bottom: 62px;
    left: -420px;
    width: 420px;
    background-color: rgba(255,255,255,0.95);
    z-index: 1;
}

.m-comments-container {
    position: absolute;
    top: 62px;
    bottom: 0;
    right: -420px;
    width: 420px;
    background-color: rgba(255,255,255,0.95);
    z-index: 1;
}

.m-comments-container #m-comments-header {
    position: relative;
    margin-left: 30px;
    margin-top: 15px;
}

.m-comments-container #m-comments-ear-small, .m-comments-container #m-comments-ear {
    background-color: #3BC3D0;
}

.m-comments-container .counter-text {
    font-size: 20px;
    color: #000;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    width: 220px;
    text-align: left;
    margin-left: 20px;
}
.m-comments-container #comments-counter-small {
    position: absolute;
    left: 40px;
    top: 11px;
}

.m-comments-container #m-add-comment {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    overflow: hidden;
}

.m-comments-container #m-add-comment .m-comment-user-cover {
    float: left;
    overflow: hidden;
    margin-top: 10px;
}

.m-comments-container #m-add-comment img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.m-comments-container #m-add-comment .m-comment-area {
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 20px;
    z-index: 10000;
}

.m-comments-container textarea {
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #fff;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 60px;
    min-height: 60px;
}

.m-comments-container .send-comment {
    position: relative;
    margin-top: 10px;
    float: right;
    margin-right: 15px;
}

.m-comments-container .send-comment .button {
    padding: 0 5px;
}

/* Add comments */

.m-comments-container #m-comments-list {
    position: absolute;
    border-top: 1px solid #000;
    border-top: 1px solid rgba(0,0,0,0.1);
    top: 215px;
    bottom: 0;
    overflow: auto;
    width: 100%;
}

.m-comments-container #m-comments-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.m-comments-container #m-comments-list ul li {
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 30px;
    padding-bottom: 15px;
    display: block;
    clear: both;
    float: none;
    overflow: hidden;
    border-bottom: 1px dotted #939393;
}

.m-comments-container #m-comments-list ul li .m-comment-user-cover {
    float: left;
    overflow: hidden;
}

.m-comments-container #m-comments-list ul li.comment_my .m-comment-user-cover {
    float: right;
    overflow: hidden;
}

.m-comments-container #m-comments-list ul li .m-comment-user-cover img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.m-comments-container #m-comments-list ul li .m-comment-user-message {
    padding-left: 15px;
    overflow: hidden;
    position: relative;
    top: -5px;
    padding-right: 63px;
}

.m-comments-container #m-comments-list ul li.comment_my .m-comment-user-message {
    padding-right: 15px;
    overflow: hidden;
    position: relative;
    top: -5px;
    text-align: right;
    padding-left: 63px;
}

.m-comments-container #m-comments-list ul li .m-comment-user-author {
    color: #4b4b4b;
    font-weight: bold;
}

.m-comments-container #m-comments-list ul li .m-comment-user-text {
    color: #858585;
}

.m-comments-container #m-comments-list ul li .m-comment-user-data {
    font-size: 13px;
    color: #939393;
}

/* --- */

.button-ios {
    width: 145px;
    height: 50px;
    background: url('../images/available-on-the-app-store-min.png') center center no-repeat;
    display: block;
    cursor: pointer;
    position: relative;
    float: left;
    margin: 5px 0 0 15px;
}

.button-ios:hover {

}

.button-ios:active {
    top: 1px;
}


.m-screen-button {
    background-color: #FF4F56;
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 100000;
    padding: 30px 50px 30px 50px;
}

.m-screen-button .m-button-icon {
    background-image: url(../images/ears_min.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 21px;
    top: 6px;
}

.m-screen-button span{
    padding: 0;
    float: left;
    margin-left: 15px;
}

.screen_min .m-screen-button,
.screen_normal .m-screen-button {
    display: none;
}