html, body {
    background: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

canvas {
    position: fixed;
}

#debug {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    size: 20px;
}

#slideshow {
    position:absolute;
    left:50%;
    top:50%;
    margin: -170px 0 0 -250px;
    width:480px;
    height:320px;
    overflow:hidden;
    border:10px solid #fff;
    -webkit-box-shadow:1px 1px 5px #000;
    -moz-box-shadow:1px 1px 5px #000;
    -o-box-shadow:1px 1px 5px #000;
    box-shadow:1px 1px 5px #000;
}

#slideshow img {
    max-width: 480px;
}