/* --- DOM */

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    font-size: 18px;
    color: #fff !important;
    font-family: Helvetica, sans-serif;
    font-family: 'Poiret One', cursive, 'ProximaNova', 'Lucida Sans', 'Lucida Grande', sans-serif;
    font-weight: 200;
    color: #fff;
    overflow: hidden;
}

a {
    text-shadow: #000 1px 1px 1px;
    -moz-text-shadow: #000 1px 1px 1px;
    -webkit-text-shadow: #000 1px 1px 1px;
}

/* --- HELPERS */

.center {
    clear: both;
    float: none;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

/* --- IDS/CLASSES */

.playingMin .minutta {
    display: block;
}

.playingMax .minutta {
    display: none;
}

.minutta {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.m-base-max-graphics {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.m-base-min-graphics {
    position: absolute;
    width: 854px;
    height: 480px;
    left: 50%;
    top: 50%;
    margin: -240px 0 0 -427px;
}

.m-button {
    position: relative;
}

.m-button-action {
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    letter-spacing: 1px;
    display: block;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    -moz-text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 0 rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.4);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.4);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.4);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0 15px;
    margin: 0 2px;
    display: inline-block;
}

.m-button:not(.disabled):active {
    top: 1px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

.m-button-action .m-button-icon {
    position: relative;
    float: left;
    top: 6px;
    background-image: url(../images/actions.png);
    background-repeat: no-repeat;
}

.m-button-action span {
    padding-left: 10px; 
    display: none;
}

.m-video {
    position: absolute;
    background: #000;
    width: 854px;
    height: 480px;
    left: 50%;
    top: 50%;
    margin: -245px 0 0 -432px;
    border: 5px solid #fff;
    overflow: hidden;
}

.loading .m-video-loading {
    display: block;
}

.m-video-loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/loader.gif) center no-repeat;
}

.loading .m-video-play {
    display: none;
}

.m-video-play {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/play_white.png) center no-repeat;
    cursor: pointer;
    display: block;
}

.m-video-stop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/stop_white.png) center no-repeat;
    cursor: pointer;
    display: none;
}

.playingMin .m-video:hover .m-video-stop {
    display: block;
}

.m-header {
    position: absolute;
    width: 100%;
    height: 62px;
    line-height: 62px;
    background: url(../images/itempage_h_bg.png) repeat-x top;
    font-weight: lighter;
}

.m-header .m-welcome {
    position: relative;
    left: 15px;
}

.m-header .m-login {
    position: absolute;
    right: 15px;
    height: 25px;
    line-height: 25px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border: solid 1px #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0 15px;
    float: right;
    letter-spacing: 1px;
    margin-top: 18px;
    text-shadow: #000 1px 1px 1px;
    -moz-text-shadow: #000 1px 1px 1px;
    -webkit-text-shadow: #000 1px 1px 1px;
    cursor: pointer;
}

.m-footer {
    position: absolute;
    width: 100%;
    height: 62px;
    line-height: 62px;
    font-weight: lighter;  
    bottom: 0;
}

.m-footer  .m-button-action {
    margin-top: 15px;
}

.m-footer .m-button-action.m-share .m-button-icon {
    background-position: 0 -18px;
    width: 19px;
    height: 17px;    
}

.m-footer .m-button-action.m-info .m-button-icon {
    background-position: 0 -35px;
    width: 20px;
    height: 20px;
    top: 4px;
}

.m-footer .m-button-action.m-report .m-button-icon {
    background-position: 0 -55px;
    width: 19px;
    height: 17px;
}

.m-footer .m-button-action.m-download .m-button-icon {
    width: 17px;
    height: 17px;
}

.m-footer .m-button-action.m-like-button {
    background-color: #FF4F56;
    display: none;
}

.m-footer .m-button-action.m-comment-button {
    background-color: #3BC3D0;
    display: none;
}

.m-footer .m-button-action.m-like-button .m-button-icon {
    background-image: url(../images/ears_min.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 21px;
    top: 4px;
}

.m-footer .m-button-action.m-comment-button .m-button-icon {
    background-image: url(../images/ears_min.png);
    background-repeat: no-repeat;
    background-position: 0 -42px;
    width: 24px;
    height: 26px;
    top: 2px;
}

.m-footer .m-button-action.m-like-button span,
.m-footer .m-button-action.m-comment-button span {
    padding: 0;
    float: left;
    display: none;
}

.m-bg-blur {
    position: absolute;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    filter: blur(7px); 
    -webkit-filter: blur(7px); 
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: url(effect/blur.svg#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}

.m-bg-normal {
    /*
    filter: blur(2px); 
    -webkit-filter: blur(2px); 
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: url(effect/blur.svg#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); 
    */
    position: absolute;
    width: 100%;
}

.m-bg-mask {
    background: #000;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
}

.m-circle {
    position: fixed;
    height: 150px;
    width: 150px;
    border-radius: 75px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    top: 50%;
    margin-top: -75px;
    behavior: url(behavior/PIE.htc);
}

.m-likes {
    background-color: #FF4F56;
    left: -75px;
    display: none;
}

.m-comments {
    background-color: #3BC3D0;
    right: -75px;
    display: none;
}

.m-circle-icon {
    background-image: url(../images/ears.png);
    background-repeat: no-repeat;   
}

.m-likes-icon {
    position: absolute;
    left: 90px;
    top: 40px;
    background-position: 0 0;
    width: 33px;
    height: 28px;
}

.m-comments-icon {
    position: absolute;
    left: 29px;
    top: 40px;
    background-position: 0 -56px;
    width: 29px;
    height: 34px;
}

.m-circle-counter {
    font-size: 25px;
    color: #fff;
    overflow: hidden;
    width: 220px;
    text-align: left;
    margin-left: 20px; 
}

#m-likes-counter {
    position: absolute;
    left: 75px;
    top: 80px;
}

#m-comments-counter {
    position: absolute;
    left: 10px;
    top: 80px;
}