@width: 480px;
@height: 320px;

@max_width: @width + @width / 100  * 20;
@max_height: @height + @height / 100  * 20;

@border: 10px;

@scale: 1.5;
@translate: 30px;

@duration_scale: 10s;
@duration_fade: 3s;

#slideshow {
    position:absolute;
    left:50%;
    top:50%;
    margin: (-@height / 2 - @border) 0 0 (-@width / 2 - @border);
    width:@width;
    height:@height;
    overflow:hidden;
    border:@border solid #fff;
    -webkit-box-shadow:1px 1px 5px #000;
    -moz-box-shadow:1px 1px 5px #000;
    -o-box-shadow:1px 1px 5px #000;
    box-shadow:1px 1px 5px #000;
}
#slideshow img {
    position:absolute;
    min-width:@max_width;
    min-height:@max_height;
    left:50%;
    margin: (-@max_height / 2) 0 0 (-@max_width / 2);
    opacity:0;
    -webkit-transition-property: opacity, -webkit-transform;
    -webkit-transition-duration: @duration_fade, @duration_scale;
    -moz-transition-property: opacity, -moz-transform;
    -moz-transition-duration: @duration_fade, @duration_scale;
    -o-transition-property: opacity, -o-transform;
    -o-transition-duration: @duration_fade, @duration_scale;
    transition-property: opacity, transform;
    transition-duration: @duration_fade, @duration_scale;
}
#slideshow img  {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
}
#slideshow :nth-child(2n+1) {
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
}
#slideshow :nth-child(3n+1) {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}
#slideshow :nth-child(4n+1) {
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -o-transform-origin: bottom right;
    transform-origin: bottom right;
}
#slideshow .fx:first-child + img ~ img {
    z-index:-1;
}
#slideshow .fx {
    -webkit-transform: scale(@scale) translate(@translate);
    -moz-transform: scale(@scale) translate(@translate);
    -o-transform: scale(@scale) translate(@translate);
    transform: scale(@scale) translate(@translate);
    opacity:1;
}