html, body {
    overflow: hidden;
    background: #000;
}

.sky {
    background:#4584b4;
    background-image: linear-gradient(bottom,#4584b4 28%,#1f4778 64%);
    background-image: -o-linear-gradient(bottom,#4584b4 28%,#1f4778 64%);
    background-image: -moz-linear-gradient(bottom,#4584b4 28%,#1f4778 64%);
    background-image: -webkit-linear-gradient(bottom,#4584b4 28%,#1f4778 64%);
    background-image: -ms-linear-gradient(bottom,#4584b4 28%,#1f4778 64%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.28, rgb(69,132,180)), color-stop(0.64, rgb(31,71,120)) );
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position:absolute;
    overflow:hidden;
    -webkit-animation:sky_background 50s ease-out infinite;
    -moz-animation:sky_background 50s ease-out infinite;
    -o-animation:sky_background 50s ease-out infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}

.moon {
    background:url("../images/moon2.png") no-repeat;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-animation:moon 50s linear infinite;
    -moz-animation:moon 50s linear infinite;
    -o-animation:moon 50s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}

.clouds_one {
    background:url("../images/cloud_one.png");
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:300%;
    -webkit-animation:cloud_one 50s linear infinite;
    -moz-animation:cloud_one 50s linear infinite;
    -o-animation:cloud_one 50s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}

.clouds_two {
    background:url("../images/cloud_two.png");
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:300%;
    -webkit-animation:cloud_two 75s linear infinite;
    -moz-animation:cloud_two 75s linear infinite;
    -o-animation:cloud_two 75s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}

.clouds_three {
    background:url("../images/cloud_three.png");
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:300%;
    -webkit-animation:cloud_three 100s linear infinite;
    -moz-animation:cloud_three 100s linear infinite;
    -o-animation:cloud_three 100s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}

@-webkit-keyframes sky_background {
    0% {
    background:#4584b4;
    color:#007fd5;
}

50% {
    background:#2C5473;
    color:#a3d9ff;
}

100% {
    background:#4584b4;
    color:#007fd5;
}
}

@-webkit-keyframes moon {
    0% {
    opacity: 0;
    left:-200%;
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
}

50% {
    opacity: 1;
    -moz-transform: scale(1);
    left:0%
        bottom:250px;
    -webkit-transform: scale(1);
}

100% {
    opacity: 0;
    bottom:500px;
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
}
}

@-webkit-keyframes cloud_one {
    0% {
    left:0;
}

100% {
    left:-200%;
}
}

@-webkit-keyframes cloud_two {
    0% {
    left:0;
}

100% {
    left:-200%;
}
}

@-webkit-keyframes cloud_three {
    0% {
    left:0
}

100% {
    left:-200%;
}
}

@-moz-keyframes sky_background {
    0% {
    background:#007fd5;
    color:#007fd5;
}

50% {
    background:#000;
    color:#a3d9ff;
}

100% {
    background:#007fd5;
    color:#007fd5;
}
}

@-moz-keyframes moon {
    0% {
    opacity: 0;
    left:-200%;
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
}

50% {
    opacity: 1;
    -moz-transform: scale(1);
    left:0%;
    bottom:250px;
    -webkit-transform: scale(1);
}

100% {
    opacity: 0;
    bottom:500px;
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
}
}

@-moz-keyframes cloud_one {
    0% {
    left:0
}

100% {
    left:-200%;
}
}

@-moz-keyframes cloud_two {
    0% {
    left:0;
}

100% {
    left:-200%;
}
}

@-moz-keyframes cloud_three {
    0% {
    left:0;
}

100% {
    left:-200%;
}
}