html, body {
    overflow: hidden;
    background: #000;
}

canvas {
    position: fixed;
}

#debug {
    position: fixed;
    left: 10px;
    top: 10px;
    color: #fff;
    size: 20px;
}

#photos {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: none;
}

#photos #photo {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; 
}

#photos #photo img {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden; 
}