html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #000;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.tr {
    display: table-row;
    width: 100%;
    height: 100%;
}

.td {
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#slides {
    position: absolute;
    overflow: hidden;
    z-index: -2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#slides > img {
    display: none;
}

#texts {
    position: relative;
    overflow: hidden;
    font-size: 35px;
    color: #fff;
    text-shadow: 1px 1px 0 #000000;
}

#texts > div {
    display: none;
}

#texts > div small {
    font-size: 25px;
}

#actions {
    display: none;
    background: url(../images/ic_play.png) center center no-repeat;
    position: absolute;
    overflow: hidden;
    z-index: 2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.audiojs {
    display: none;
}

#debug {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    size: 20px;
    background: #000;
    padding: 2px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 1000;
}