html, body {
    overflow: hidden;
    background: #000;
}

canvas {
    position: fixed;
}

#debug {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    size: 20px;
}

#information {
    position: absolute;
    left: 0;
    width: 300px;
    top: 0;
    bottom: 0;
    color: #fff;
    overflow: auto;
    font-size: 10px;
    background-color: #111111;
}