html, body {
    background: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

canvas {
    position: fixed;
}

#debug {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    size: 20px;
}